.bg-every{
    background:linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 40, 91, 1) 0%, rgba(21, 115, 230, 1) 100%)!important;
}


.topnav:hover .zoom {
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
  }

  .topnav .zoom {
    transition: all 0.3s ease-in-out;
  }

  .topnav {
    height: 20%!important;
  }

  .topnav:hover .light {

    transition: all 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.4) !important;
    color: #fff !important;
  }

  .topnav .light {
    transition: all 0.3s ease-in-out;
  }

  .bg-primary-300 {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 40, 91, 1) 0%, rgba(21, 115, 230, 1) 100%);
    color: white;
  }

  .input-group-rounded .form-control {
    border-radius: 2rem 0rem 0rem 2rem;
    border: 0;
    padding-left: 16px;
    padding-left: 1rem;
  }

  .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .input-group .form-control {
    height: auto;
  }

  .form-control:not(.form-control-lg) {

    font-size: 1.5rem;
    line-height: 1.3;
  }

  .input-group>.form-control,
  .input-group>.form-floating,
  .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
  }

  .form-control-sm {
    min-height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 1.5rem;
    border-radius: 0.25rem;
  }




  .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .input-group-rounded .btn {
    border-color: rgba(0, 0, 0, 0.09);
    border-radius: 0rem 2rem 2rem 0rem;

    font-size: 1.1rem;
    padding: 1.17rem;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    z-index: 3;
  }

  .btn-custom {
    color: #fff;
    background-color: rgba(21, 115, 230, 1);
    border-color: rgba(21, 115, 230, 1);
  }

  .btn-disabled {
    color: #a8a8a8;
    background-color: #d3d3d3;
    border-color: #d3d3d3;
  }

  .btn-disabled:hover {
    color: #a8a8a8;
    background-color: #d3d3d3;
    border-color: #d3d3d3;
  }

  .btn-custom:hover {
    color: #fff;
    background-color: #1267CF;
    border-color: #1267CF;
  }

  .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: rgba(21, 115, 230, 1);
    border-color: rgba(21, 115, 230, 1);
  }

  .page-item.active:hover .page-link {
    z-index: 3;
    color: #fff;
    background-color: #1267CF !important;
    border-color: #1267CF !important;
  }

  .page-linkz {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #1267CF;
    background-color: #fff;
    border: 1px solid #dee2e6;
  }

  .page-linkz:hover {

    color: #fff;
    background-color: #1267CF !important;
    border: 1px solid #1267CF !important;
  }

  .pagination .page-linkz {
    border-radius: 4px;
    border-width: 0px;
  }

  .page-linkx {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #1267CF;
    background-color: #EDEDED;
    border: 1px solid #dee2e6;
  }

  .pagination .page-linkx {
    border-radius: 4px;
    border-width: 0px;
  }

  .page-linkx:hover {

    color: #fff;
    background-color: #1267CF !important;
    border: 1px solid #1267CF !important;
  }

  .nav-tabs .nav-item .nav-link.active:not(:hover) {
    color: #1267CF;
  }

  .nav-tabs .nav-item .nav-link.active:hover {
    color: #1267CF;
  }

  .sticky-p{
    position: sticky;
    bottom: 0;
    z-index: 999;
    margin-bottom: 0;
  }