.bg-brand-custom {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 40, 91, 1) 0%, rgba(21, 115, 230, 1) 100%);
  }

  .freeUse:hover{
    transform: scale(1.1);
    transition: 0.5s;
    color:red;
  }